*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #080710;
  color: #fff;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.background .shape {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

.form {
  width: 400px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.form h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.control {
  margin-top: 20px;
  position: relative;
}

input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
}

input::placeholder {
  color: #e5e5e5;
}

.btn {
  margin-top: 40px;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #ffffff;
  color: #080710;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.block-cube {
  position: relative;
}

.block-cube .bg-top,
.block-cube .bg-right,
.block-cube .bg {
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.block-cube .bg-inner {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  background: rgba(8, 7, 16, 0.3);
}

.block-cube-hover:hover .bg-inner {
  top: 100%;
}
